.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 140px;
}

.u-section-1 .u-text-1 {
  margin: 31px 630px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: -510px;
    margin-right: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -450px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}

.u-section-2 .u-table-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-2 .u-table-footer-1 {
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-2 .u-table-header-1 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 77px;
}

.u-section-3 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 0 auto 60px;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-group-2 {
    width: 570px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }

  .u-section-3 .u-form-group-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }

  .u-section-3 .u-form-group-2 {
    width: 340px;
  }
}